# Backend
backend/target/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/public/knowledge
frontend/public/inspiration-collage.mp4

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
